:root {
  --main-background-color: #1e1e1e;
  --main-text-color: #c9d4c9;
  --image-background-color: none;
  --image-blur: 0px;
  --image-opacity: 1;
  --image-border-radius: 0%;
  --image-x-scale: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.main {
  background-color: var(--main-background-color);
}

.header {
  margin: 20px 0;
  color: var(--main-text-color);
  text-align: center;
}

.wrapper {
  max-width: 1024px;
  margin: 10px auto;
  border: 3px double var(--main-text-color);
  border-radius: 5px;
  padding: 10px;
}

.controls-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.control {
  margin: 10px 20px;
}

.control-label {
  display: block;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.radio-control {
  display: flex;
  justify-content: left;
  align-items: center;
}

.radio-label {
  margin-left: 10px;
  display: block;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

.picture-field {
  width: 100%;
  height: 100%;
  background-color: var(--image-background-color);
  padding: 20px;
}

.picture {
  max-width: 100%;
  height: auto;
  filter: blur(var(--image-blur));
  opacity: var(--image-opacity);
  border-radius: var(--image-border-radius);
  transform: scaleX(var(--image-x-scale));
}
