<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="/socket.io/socket.io.js"></script>
  <title>Chat App</title>
</head>

<body class="main">
  <div class="wrapper">
    <h1 class="header">Chat App</h1>
    <section class="chat">
      <section class="chat-block username">
        <input class="input-field" id="username" type="text" placeholder="Anonymous" />
        <input class="user-color" id="user-color" type="color" value="#1e90ff" />
        <button class="button" id="change-username" type="button">Change Username</button>
      </section>
      <section class="chat-block chatroom">
        <div class="status" id="status"></div>
        <div class="messages" id="messages"></div>
      </section>
      <section class="chat-block input-block">
        <input class="input-field new-message" id="new-message" type="text" placeholder="Enter new message..." />
        <button class="button" id="send-message" type="button">Send</button>
      </section>
    </section>
  </div>
  <script src="chat.js"></script>
</body>

</html>