@font-face {
  font-family: MontserratAlternates;
  src: url(./assets/fonts/MontserratAlternates-Regular.ttf);
}

:root {
  --max-application-width: 880;
  --flood-transition-duration: 0.7s;
  --drop-animation-duration: 10s;
  --drop-restart-duration: 3s;
  --bang-animation-duration: 0.5s;
  --modal-show-duration: 1s;
  --main-background-color: #1e1e1e;
  --main-text-color: aquamarine;
  --sky-bottom-color: lightcyan;
  --sky-deep-color: skyblue;
  --sea-surface-color: aqua;
  --sea-deep-color: navy;
  --drop-shadow-color: midnightblue;
  --drop-bonus-color: fuchsia;
  --drop-bonus-text-color: ivory;
  --controls-background-color: antiquewhite;
  --score-amount-color: yellow;
  --keypad-border-color: tan;
  --screen-background-color: #eeeeee;
  --screen-text-color: firebrick;
  --keys-border-color: lightgray;
  --keys-background-color: white;
  --keys-hover-background-color: khaki;
  --keys-active-background-color: darkkhaki;
  /*  --score-shadow-color: red;
  --hi-score-text-color: maroon;
  --tries-text-color: salmon;
  --level-text-color: purple;
  --highlight-color: lightgoldenrodyellow;*/
}

* {
  margin: 0;
  padding: 0;
  font-family: MontserratAlternates, sans-serif;
  font-weight: bold;
  /*font-style: italic;*/
  box-sizing: border-box;
}

html {
  /*font-size: 10px;*/
  font-size: calc(10 * 100vmin / var(--max-application-width));
  height: 100%;
}

.main {
  background-color: var(--main-background-color);
  max-width: calc(var(--max-application-width) * 1rem / 10);
  margin: auto;
}

.header {
  margin: 3rem 0;
  text-align: center;
  font-size: 7.5rem;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  color: var(--main-text-color);
}

.application {
  position: relative;
  border: 0.5rem solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  user-select: none;
  overflow: hidden;
}

.application::before {
  content: "";
  float: left;
  padding-top: 75%;
}

.game {
  position: relative;
  flex-basis: 70%;
  height: inherit;
  overflow: hidden;
  background-image: linear-gradient(var(--sky-deep-color) 0%, var(--sky-bottom-color) 100%);
}

.controls {
  flex-basis: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--controls-background-color);
  box-shadow: inset 0.5rem 0px 1rem rgba(0, 0, 0, 0.2);
}

.drop-container {
  position: relative;
  width: 100%;
  height: 90%;
  transition: var(--flood-transition-duration) ease-out;
  /*height: 80%;*/
  /*height: 70%;*/
  /*height: 20%;*/
}

.sea-level1 {
  height: 80%;
}

.sea-level2 {
  height: 70%;
}

.flood {
  height: 20%;
}

.restart {
  animation: water-restart var(--drop-restart-duration) linear;
}

@keyframes water-restart {
  50% {
    height: 20%;
  }
  100% {
    height: 90%;
  }
}

.drop-pause > .drop,
.drop-pause > .drop::before {
  animation-play-state: paused;
}

.drop {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  opacity: 0;
  animation: drop-fall var(--drop-animation-duration) linear;
}

.drop > div {
  margin: 0 0.2rem;
}

.drop::before {
  display: block;
  z-index: -1;
  content: "";
  background: var(--sea-surface-color);
  width: 7rem;
  height: 7rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.9, 1) rotate(45deg);
  box-shadow: 0.1rem 0.1rem 0.7rem var(--drop-shadow-color);
  animation: drop-outline var(--drop-animation-duration) linear;
}

.bonus {
  color: var(--drop-bonus-text-color);
}

.bonus::before {
  background: var(--drop-bonus-color);
}

@keyframes drop-fall {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 0.2;
    top: 5%;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes drop-outline {
  /*little circle*/
  0% {
    transform: scale(0.1, 0.1) rotate(45deg);
    border-top-left-radius: 50%;
  }
  /*transform to little drop*/
  10% {
    border-top-left-radius: 0;
  }
  /*transform to big drop*/
  15% {
    border-top-left-radius: 0;
    transform: scale(1.1, 1) rotate(45deg);
  }
  /*transform to big circle*/
  90% {
    transform: scale(0.9, 1) rotate(45deg);
  }
  /*transform to pool*/
  100% {
    border-top-left-radius: 50%;
    transform: scale(3, 0.1) rotate(45deg);
  }
}

.bang > div {
  opacity: 0;
}

.bang::before {
  animation: drop-bang var(--bang-animation-duration) ease;
}

@keyframes drop-bang {
  to {
    opacity: 0;
    transform: scale(3, 3);
  }
}

.operands {
  display: flex;
  flex-direction: column;
}

.water {
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.deep-water {
  width: 100%;
  flex-basis: 95%;
  background-image: linear-gradient(var(--sea-surface-color), var(--sea-deep-color) 100%);
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waves {
  position: relative;
  flex-basis: 5%;
  width: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave-top {
  z-index: 15;
  opacity: 0.5;
  background-image: url("./assets/img/wave-top.png");
  background-size: 50% 100%;
  animation: move-wave 3s;
  animation-delay: 1s;
}

.wave-middle {
  z-index: 10;
  opacity: 0.75;
  background-image: url("./assets/img/wave-mid.png");
  background-size: 50% 90%;
  animation: move_wave 10s linear infinite;
}

.wave-bottom {
  z-index: 5;
  background-image: url("./assets/img/wave-bot.png");
  background-size: 50% 50%;
  animation: move_wave 15s linear infinite;
}

.score {
  width: 75%;
  background: rgba(0, 0, 0, 0.4);
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 2rem;
}

.score-amount {
  color: var(--score-amount-color);
}

.keypad {
  width: 90%;
  height: 60%;
  border: 0.5rem solid var(--keypad-border-color);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keypad > div {
  border: 0.2rem inset var(--keys-border-color);
}

.screen {
  flex-basis: 30%;
  background: var(--screen-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--screen-text-color);
}

.keys {
  flex-basis: 70%;
  display: flex;
}

.keys > div {
  display: flex;
  flex-wrap: wrap;
}

.left-block {
  flex-basis: 75%;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--keys-border-color);
  background: var(--keys-background-color);
  font-size: 4rem;
  outline: none;
  cursor: pointer;
}

.key:hover {
  background: var(--keys-hover-background-color);
}

.key:active,
.key-active {
  background: var(--keys-active-background-color);
  transform: translateY(0.1rem);
}

.left-block > * {
  flex-basis: 33.3%;
}

.key_wide {
  flex-basis: 66.6% !important;
}

.key_text {
  font-size: 1.4rem;
}

.right-block {
  flex-basis: 25%;
}

.right-block > * {
  flex-basis: 100%;
}

.buttons {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.control-button {
  flex-basis: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--controls-background-color);
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  /*outline: none;*/
}

.control-button:hover {
  background: rgba(0, 0, 0, 0.6);
}

.control-button:active {
  background: rgba(0, 0, 0, 0.8);
  transform: translateX(0.1rem) translateY(0.1rem);
  box-shadow: none;
}

.modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: flex;
  top: 100%;
  transition: top var(--modal-show-duration) cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-over {
  position: relative;
  display: none;
  flex-basis: 70%;
  font-size: 2.5rem;
}

.show-modal {
  top: 0;
}

.show-game-over > .game-over {
  display: block;
}

.modal-header {
  font-size: 5rem;
  text-align: center;
  margin: 8% 0;
}

.game-over > p {
  margin: 3% 5%;
}

.modal-button {
  margin: 6% auto;
  height: 2.5rem;
  min-width: 10%;
}

@media (min-width: 880px) {
  html {
    font-size: 10px;
  }
}
