@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

:root {
  --basic-application-width: 1440;
  --basic-font-size: 10;
  --basic-application-width-medium: 660;
  --basic-font-size-medium: 7;
  --min-font-size: 10px;
  --primary-text-color: #ffffff;
  --control-standard-color: rgba(174, 181, 185, 0.5);
  --control-shadowed-color: rgba(76, 82, 85, 0.4);
  --secondary-text-color: rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

html {
  font-size: calc(1vw * var(--basic-font-size) * 100 / var(--basic-application-width));
  line-height: 1.2;
  color: var(--primary-text-color);
  height: 100%;
  text-shadow: 0.2rem 0.2rem 0.4rem black;
}

.main {
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%);
}

.wallpaper {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -5;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fade-in {
  animation: fade-in-frames 0.75s linear;
}

.fade-out {
  animation: fade-out-frames 0.75s linear;
}

@keyframes fade-in-frames {
  0% {
    filter: blur(0);
    opacity: 1;
  }

  30% {
    filter: blur(1rem);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out-frames {
  0% {
    filter: blur(1rem);
    opacity: 0;
  }
  70% {
    filter: blur(1rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.header {
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 4rem;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls-group {
  margin-top: 4rem;
  display: flex;
}

.controls-block {
  box-shadow: 0.14em 0.14em 0.3em black;
  border-radius: 0.36em;
  margin-right: 0.7em;
  display: flex;
  position: relative;
}

.controls-block:last-child {
  margin-right: 0;
}

.control {
  height: 3.1em;
  width: 3.1em;
  font-size: 1.4em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--primary-text-color);
  background-color: var(--control-standard-color);
  cursor: pointer;
  outline: none;
  user-select: none;
}

.control:first-child {
  border-top-left-radius: 0.36em;
  border-bottom-left-radius: 0.36em;
}

.control:last-child {
  border-top-right-radius: 0.36em;
  border-bottom-right-radius: 0.36em;
}

.control:active {
  transform: translateY(0.07em);
}

.refresh {
  background-image: url(./assets/img/refresh-background.svg);
  background-size: contain;
}

.droplist {
  position: relative;
}

.droplist:after {
  position: absolute;
  top: calc(50% - 0.21em);
  right: calc(0% + 0.36em);
  content: "";
  width: 0.7em;
  height: 0.43em;
  background-image: url(./assets/img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.droplist:active:after {
  transform: translateY(0.07em);
}

.droplist :active {
  transform: unset;
}

.droplist .control {
  appearance: none;
}

.lang {
  width: 5.1em;
  padding-left: 1.1em;
}

.radio-control {
  background-color: var(--control-shadowed-color);
  color: var(--secondary-text-color);
}

.radio-marker {
  display: none;
}

.radio-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
}

.radio-control > .radio-marker:checked + .radio-label {
  color: var(--primary-text-color);
  background-color: var(--control-standard-color);
}

.locations {
  width: 16.4em;
  padding: 0 1.1em;
  font-weight: 400;
  background-color: var(--control-shadowed-color);
}

.locations:last-child {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.input-field {
  position: absolute;
  width: 15.2em;
  cursor: text;
  font-weight: 400;
  padding: 0 1.1em;
  background-color: unset;
}

.input-field::placeholder {
  color: var(--primary-text-color);
}

.input-field:active {
  transform: unset;
}

.indicator-container {
  position: absolute;
  font-size: 1.4em;
  width: 16.4em;
  height: 3.1em;
  border-top-left-radius: 0.36em;
  border-bottom-left-radius: 0.36em;
  overflow: hidden;
  display: none;
}

.indicator {
  height: 100%;
  background-color: var(--control-standard-color);
  animation: indicator-frames 0.5s linear infinite;
}

.search-waiting,
.search-waiting .control {
  cursor: wait;
}

.search-waiting .indicator-container {
  display: block;
}

@keyframes indicator-frames {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.search-fail-container {
  position: absolute;
  font-size: 1.4em;
  width: 16.4em;
  height: 3.1em;
  top: 3.5em;
  overflow: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-fail {
  position: relative;
  top: -110%;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  box-shadow: 0.14em 0.14em 0.3em black;
  border-radius: 0.36em;
  text-shadow: none;
  transition: top 0.5s linear;
}

.hint-show {
  top: 0;
}

.hint-hide {
  top: -110%;
}

.mic {
  background-color: var(--control-shadowed-color);
}

.search {
  padding: 0 1.43em;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}

.content {
  position: relative;
  display: flex;
  padding: 1.7rem 9rem;
}

.area {
  font-size: 4.4rem;
  text-transform: uppercase;
}

.date {
  font-size: 2.4rem;
  font-weight: 600;
}

.weather {
  display: flex;
}

.temperature {
  font-size: 30.6rem;
  min-width: 40rem;
}

.weather-description {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6rem;
}

.weather-icon-container {
  position: absolute;
  width: 40rem;
  top: -14rem;
  left: -18rem;
  z-index: -1;
}

.landing {
  z-index: 5;
  animation: landing-frames 2.5s linear;
}

@keyframes landing-frames {
  0% {
    opacity: 0;
    transform: scale(2.5, 2.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.weather-details {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.wind-units {
  text-transform: lowercase;
}

.forecast {
  display: flex;
}

.upcoming-day {
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
}

.upcoming-day:last-child {
  margin-right: 0;
}

.day-of-week {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.upcoming-weather {
  display: flex;
}

.upcoming-temperature {
  font-size: 8rem;
  font-weight: 600;
}

.upcoming-weather-icon {
  margin-left: -3rem;
  width: 10rem;
  z-index: -1;
}

.navigation-block {
  margin-left: auto;
  width: 37.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-wrap {
  position: relative;
  width: 100%;
  display: flex;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem black);
}

.map-wrap::before {
  content: "";
  display: block;
  padding-top: 106%;
}

.map {
  width: 100%;
  overflow: hidden;
  clip-path: url(#map-mask);
}

.coordinates {
  font-size: 2rem;
  font-weight: 600;
  text-align: right;
}

@media (max-width: 1029px) {
  .header {
    font-size: 7.15px;
  }

  .coordinates {
    font-size: 14px;
  }
}

@media (max-width: 659px) {
  html {
    font-size: calc(1vw * var(--basic-font-size-medium) * 100 / var(--basic-application-width-medium));
  }

  .content {
    flex-direction: column;
  }
  .weather-block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes landing-frames {
    0% {
      opacity: 0;
      transform: scale(1.4, 1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  .navigation-block {
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: 429px) {
  .date {
    font-size: var(--min-font-size);
  }

  .weather-details {
    font-size: var(--min-font-size);
  }

  .day-of-week {
    font-size: var(--min-font-size);
  }

  .coordinates {
    font-size: var(--min-font-size);
  }
}
